.todo__item {
  display: flex;
  position: relative;

  min-height: 3.5rem;

  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  
  border-bottom: 1px solid #ededed;
  user-select: none;
}

.todo__icon {
  display: inline-block;

  height: 20px;
  width: 20px;
  
  background-image: url('../../assets/icons/dot-white.svg');
  background-position: center;
  background-size: contain;
  
  cursor: pointer;
  transition: .3s;
}

.todo__icon_completed {
  background-image: url('../../assets/icons/dot-green.svg');
}

.todo__text {
  font-family: 'Indie Flower';
  font-size: 1.8rem;
  font-weight: 400;
}

.todo__text_completed {
  text-decoration: line-through;
}

.todo__delete {
  background-color: #cf0f0f;
}
