.todo__icon {
  display: inline-block;

  height: 18px;
  width: 18px;

  background-image: url('../../assets/icons/dot-white.svg');

  transition: .3s;
}

.todo__icon_completed {
  background-image: url('../../assets/icons/dot-green.svg');
}
